<footer class="py-4 mt-5 border-top">
  <ul class="nav justify-content-center pb-3 mb-3">
    <li class="nav-item">
      <a href="/" class="nav-link px-2 text-body-secondary">Home</a>
    </li>
    <li class="nav-item">
      <a href="/jobs" class="nav-link px-2 text-body-secondary">Latest Jobs</a>
    </li>
    <li class="nav-item">
      <a href="/about" class="nav-link px-2 text-body-secondary">About</a>
    </li>
    <li class="nav-item">
      <a href="/contact" class="nav-link px-2 text-body-secondary">Contact</a>
    </li>
  </ul>

  <p class="text-center text-body-secondary">
    © 2026 GovJobsHub. All rights reserved.
  </p>
</footer>